services:
  s3:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    ports:
      - "8001:9001"
      - "8000:9000"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    command: server --console-address ":9001" /data
    restart: always
  blitzbrowser:
    image: sha256:a7e9103882345cdb4b5e5ebd63e63c4b972b92b2eeb18af80bd739bf60f53985
    command: node ./dist/main.js
    ports:
      - "9999:9999"
    environment:
      S3_ENDPOINT: http://s3:9000
      S3_ACCESS_KEY_ID: xOyDpwtTUn5P7lkWpbSP
      S3_SECRET_ACCESS_KEY: XbCcsDW7oAY8bC82ptPOLLny2up4eZjg6MIqCYxP
      S3_USER_DATA_BUCKET: user-data
    shm_size: "2gb"
    restart: always